#content-threecolumns {
    background: white;
    color: black;
    width: 58%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

/* SIDEBAR */
#sidebar-left {
    margin-top: 1%;
    width: 20%;
    float: left;
    border-right: 1px solid darkgrey;
}

#sidebar-right {
    margin-top: 1%;
    width: 20%;
    float: right;
    border-left: 1px solid darkgrey;
}